<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide" id="logo">TA EXCLUSIVE</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small w3-hide-medium">
      <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
      <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a>
      <a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> WORK</a>
      <a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> PRICING</a>
      <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large" (click)="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" (click)="w3_open()" class="w3-bar-item w3-button w3-large menu">Close ×</a>
  <a href="#about" (click)="w3_open()" class="w3-bar-item w3-button menu">ABOUT</a>
  <a href="#team" (click)="w3_open()" class="w3-bar-item w3-button menu">TEAM</a>
  <a href="#work" (click)="w3_open()" class="w3-bar-item w3-button menu">WORK</a>
  <a href="#pricing" (click)="w3_open()" class="w3-bar-item w3-button menu">PRICING</a>
  <a href="#contact" (click)="w3_open()" class="w3-bar-item w3-button menu">CONTACT</a>
</nav>
