<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">Welkom bij TA Exclusive</span><br>
    <p><a href="#about" class="w3-button">Learn more and start today</a></p>
  </div>
  <div class="w3-display-bottomleft w3-text-black w3-large" style="padding:24px 48px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</header>
